body{
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
  }
h1 {
    color: white;
    text-align: center;
    margin-bottom: auto;
}
.background {
    background-color: rgb(146, 102, 102);
}
.img {
    display: block;
    margin-left: 40%;
    margin-right: 50%;
    width: 20%;
}
